mixin navbar
  //- Navbar for my site
  nav(role="navigation").navbar.navbar-green.center
    ul.nav.navbar-nav
      li: a(href="#", rel='Sobre mí')
        .text-center
          span.icon.pawn: br
        span Sobre mí
      li: a(href="#", rel='Experiencia')
        .text-center
          span.icon.cloud: br
        span Experiencia
      li: a(href="#", rel='Portafolio')
        .text-center
          span.icon.square: br
        span Portafolio
      li: a(href="#", rel='Contacto')
        .text-center
          span.icon.dialog: br
        span Contacto
