//- index.jade
extends ../template.jade
block title
  title gulp + jade + less + coffee

block content
  .container
    .row
      .col-lg-12
        img.img-dummy(src='http://placehold.it/350x350')
      
